{% extends 'layouts/home.html' %}
{% import 'layouts/forms.html' as forms %}

{% block title %}Editar Permiso{% endblock %}

{% block content %} 
<div class="mrg-lrg">
    <div class="row mrg-bottom-mdl align-items-center">
        <div class=" col-10">
            <spam class="article-title">
                <i class="icon icon-create icon-sm-lrg"></i>Editar Permiso
            </spam>            
        </div>
        <div class=" col-2">
            <div class="btn-group-option justify-content-end">
                <a href="/administracion/permiso" class="btn-secondary" title="Retornar a Editoriales">
                    <i class="icon icon-arrow_back"></i>Retornar
                </a>
            </div>
        </div>
    </div>
    <div class="">
        <div class="card col-6">
            <div class="card-header">Datos del Permiso</div>
            <div class="card-body">
                {{ forms.form('formUpdatePermiso','/administracion/updatePermiso') }}
                {{ forms.csrf(token) }}
             
                <div class="frm-group flexbox">
                    <div class="col-12">
                        {{ forms.label('idRol','Rol') }}
                        <span class="txt-red">(*)</span>
                        {{ forms.disabled('textbox','idRol','permiso', permiso.getNombreRol, '100') }}
                        
                    </div>                  
                </div> 
                <div class="frm-group flexbox">
                    <div class="col-12">
                        {{ forms.label('idMenu','Menú') }}
                        <span class="txt-red">(*)</span>
                        {{ forms.disabled('textbox','idMenu','permiso', permiso.getNombreMenu, '100') }}
                    </div>                    
                </div>                  
                <div class="frm-group flexbox">
                    <div class="col-12">
                        {{ forms.label('descripcion','Descripción') }}
                        <span class="txt-red">(*)</span>
                        {{ forms.textarea('textbox','descripcion','Descripción', permiso.getDescripcion) }}
                    </div>
                </div>
                <div class="frm-group flexbox">
                    <div class="col-12">
                        {{ forms.label('privilegio','Privilegio') }}
                        <span class="txt-red">(*)</span>
                        <div>
                            <select class="select" name="privilegio" id="privilegio">
                                <option value="0">Seleccione el nivel de privilegio...</option>
                            {% for privilegio in privilegios %}
                                {% if permiso.getIdPrivilegio == privilegio.getId %}
                                <option value="{{ privilegio.getId|e }}" selected>{{ privilegio.getNombre|e }}</option>
                                {% else %}    
                                <option value="{{ privilegio.getId|e }}">{{ privilegio.getNombre|e }}</option>
                                {% endif %} 
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>               
                <div class="frm-group">
                    {{ forms.submit('btn-primary','editarPermiso','Guardar') }}
                </div>
                {{ forms.endform() }}   
            </div>
        </div>

    </div>
</div>    
    
    <script>

        $("#editarPermiso").on("click", function(e){
            e.preventDefault();          
            var data = form.data($("#formUpdatePermiso"));
            ajx.update(data,"/administracion/updatePermiso", null);
            
        });
               
        $('.select').select2();
    </script>


{% endblock %}